<h2>Create a new account</h2>
<p>
    <div id="status"></div>
        <div id="account_form">
    <form>
    <table>
        <tr>
            <td>Account number</td>
            <td><input type="text" name="accountNumber"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" name="address"></td>
        </tr>
        <tr>
            <td>City</td>
            <td><input type="text" name="city"></td>
        </tr>
        <tr>
            <td>Balance</td>
            <td><input type="text" name="balance"></td>
        </tr>
        <tr>
            <td>Limit</td>
            <td><input type="text" name="limit"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name"></td>
        </tr>
    </table>
    </form>

    <input type="button" onclick="createAccount()" value="Create">
        </div>
</p>