<h2>Show account</h2>
<p>
    Enter account number: <input type="text" id="account" value="ABC">
    <input type="button" value="Show" onclick="showAccount($('#account').val())">
</p>

<div id="error" style="display:none"></div>

<div id="account_info" style="display:none">
    <table>
        <tr>
            <th>Account number</th>
            <td><span id="accountNumber"></span></td>
        </tr>
        <tr>
            <th>Name</th>
            <td><span id="name"></span></td>
        </tr>
        <tr>
            <th>Address</th>
            <td><span id="address"></span></td>
        </tr>
        <tr>
            <th>City</th>
            <td><span id="city"></span></td>
        </tr>
        <tr>
            <th>Balance</th>
            <td>€<span id="balance"></span></td>
        </tr>
        <tr>
            <th>Limit</th>
            <td>€<span id="limit"></span></td>
        </tr>
    </table>
</div>