<h2>Transfer money</h2>
<div id="status"></div>
<p>
    <div id="transfer_form">
        <form>
            <table>
                <tr>
                    <td>Transfer amount €</td>
                    <td><input type="text" name="amount"></td>
                </tr>
                <tr>
                    <td>From</td>
                    <td><input type="text" name="src"></td>
                </tr>
                <tr>
                    <td>To</td>
                    <td><input type="text" name="dst"></td>
                </tr>
            </table>

            <input type="button" value="Transfer" onclick="transferMoney()">
        </form>
    </div>
</p>
